# Dependencies
/node_modules
/.next
/output
/.next/cache
/.next/compiled
/out
/coverage
*.local

typo

# Environment variables
.env
.env.test
.env.local
.env.production

# Log files
npm-debug.log*
.yarn-error.log
.pnpm-debug.log

# Editor directories and files
.vscode
*.code-workspace
.idea
*.swp
*.swo
*~

# Build artifacts
.DS_Store

# Remix
/public/build